* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff9f1;
}

.header {
  text-align: center;
  margin: 6rem;
}

.name {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.sections {
  display: flex;
  justify-content: space-around;
}


