* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff9f1;
}

.header {
  text-align: center;
  margin: 6rem;
}

.name {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title {
  text-transform: uppercase;
  margin-top: 1rem;
}

.sections {
  display: flex;
  justify-content: space-around;
  margin: 10rem;
}


