.about {
  width: 100%;
  background-color: rgb(235, 232, 232);
  padding: 30px;
  height: auto;
}

.about h1 {
  font-size: 30px;
    letter-spacing: 11px;
    text-align: center;
    margin: 0px 30px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}

.about-left h3 {
  margin-bottom: 10px;
}

.about-left p {
  line-height: 30px;
  margin-bottom: 30px;
}

.about-right {
  padding-right: 100px;
  position: relative;
  bottom: 40px;
  align-items: center;
  text-align: center;
}

.about1-pic {
  position: relative;
  top: 0;
  left: -45px;
}

.about1-pic:hover {
  border: 5px solid rgb(70, 157, 228);
}

.about2-pic {
  position: absolute;
  top: 30px;
  left: 175px;
}

.about2-pic:hover {
  position: absolute;
  border: 5px solid rgb(172, 106, 45);
}

.about3-pic {
  position: absolute;
  top: 165px;
  left: 55px;
}

.about3-pic:hover {
  border: 5px solid rgb(33, 161, 21);
}

.about1-pic,
.about2-pic,
.about3-pic {
  transition: all .2s;
  box-shadow: 0 1.5rem 4rem rgb(0 0 0 / 40%);
  width: 250px;
  height: 150px;
  margin-bottom: 90px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .about-content {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-right {
    padding-right: 100px;
    position: relative;
    align-items: center;
    text-align: center;
  }

  .about1-pic,
  .about2-pic,
  .about3-pic {
    width: 225px;
    height: 130px;
  }

  .about1-pic {
    left: -10px;
  }

  .about2-pic {
    left: 140px;
  }

  .about3-pic {
    top: 130px;
  }

  .about-left {
    text-align: start;
    margin-left: -30px;
  }

  .about-content {
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .about-left p {
    width: 600px;
  }
  
  .about {
    height: 73vh;
  }
}
