.contact-container {
  background-color: rgb(235, 232, 232);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.contact {
  width: 90%;
  height: 85vh;
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.contact-content {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}
.content h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 10;
  font-size: 50px;
  margin-left: 15px;
}

.content h3 {
  margin-left: 15px;
}

.contact-dropdown {
  margin-top: 15px;
  text-align: start;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  border: none;
  color: black;
}

form::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input:focus,
textarea:focus {
  outline: none;
} 

form label {
  margin-top: 15px;
  text-align: start;
  color: grey;
}

form button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 145, 189);
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin: 20px auto;
}

