.trip {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
}

.trip .trip-title {
  font-size: 30px;
  letter-spacing: 11px;
  text-align: center;
  margin: 30px 30px;
}

.trip-list {
  width: 70vw;
  height: auto;
  display: grid;
  place-items: center;
}

.trip-box {
  width: 280px;
  height: 370px;
  margin: 25px;
  background-color: white;
  padding: 10px;
  perspective: 1000px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}

.trip-box-inner {
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  transition: transform .99s;
  transform-style: preserve-3d;
}

.trip-box:hover .trip-box-inner {
  transform: rotateY(180deg);
}

.trip-box-front, .trip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.trip-box-days {
  color: black;
  text-align: right;
  font-weight: 600;
  margin-top: -5px;
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
}

.trip-box-back {
  opacity: .60;
  transform: rotateY(180deg);
  color: black;
  height: 370px;
  margin-top: -15px;
}

.trip-box-review a {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
  text-transform: none;
}

.trip-box-review a:hover {
  color: maroon;
  font-weight: 600;
  text-transform: none;
}

.trip-amentites {
  text-align: left;
}

.trip-amentites li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.trip-amentites li svg {
  font-size: 20px;
  color: maroon;
}

.amentites-button {
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.trip-item-book {
  display: block;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.trip-box div {
  width: 100%;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.trip-box h1 {
  text-align: left;
  display: block;
}

.trip-box-front h2 {
  text-align: left;
  color: grey;
  font-weight: 100;
  line-height: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.trip-box-rating {
  display: inline;
  justify-content: space-evenly;
  height: 100px;
  align-items: flex-start;
  text-align: left;
}

.trip-box-rating p {
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.trip-box-rating svg {
  font-size: 15px;
  color: maroon;
}

.trip-box-price {
  color: maroon;
  text-align: right;
  margin-top: -10px;
}

.trip-item-book {
  text-transform: capitalize;
}

.trip-item-book:hover {
  background-color: rgb(202, 202, 202);
}

@media only screen and (min-width: 768px) {
  .trip-list {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .trip-list {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }
}

