.trip {
  width: 100%;
  height: 140vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(221, 220, 220);
}

.trip .trip-title {
  font-family: fantasy;
  font-size: 60px;
}

.trip-list {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.trip-box {
  /* border-radius: 15px; */
  width: 280px;
  height: 370px;
  margin: 25px;
  background-color: white;
  padding: 10px;
  perspective: 1000px;
  border: none;
  border-radius: 13px;
}

/* .trip-box:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
  border: 5px solid rgb(32, 60, 97);
} */

.trip-box-inner {
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  transition: transform .99s;
  transform-style: preserve-3d;
}

.trip-box:hover .trip-box-inner {
  transform: rotateY(180deg);
}

.trip-box-front, .trip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.trip-box-days {
  color: black;
  text-align: right;
  font-weight: 600;
  margin-top: -5px;
  font-size: 15px;
  text-decoration: underline;
  font-style: italic;
}

.trip-box-back {
  opacity: .60;
  transform: rotateY(180deg);
  color: black;
  height: 370px;
  margin-top: -15px;
}

.trip-box-review {
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

.trip-box-review:hover {
  color: maroon;
  font-weight: 600;
}

.trip-amentites {
  text-align: left;
}

.trip-amentites li {
  padding: 5px;
  display: flex;
  align-items: center;
}

.trip-amentites li svg {
  font-size: 20px;
  color: maroon;
}

.amentites-button {
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.trip-item-book {
  display: block;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.trip-box div {
  width: 100%;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.trip-box h1 {
  text-align: left;
  display: block;
}

.trip-box-front h2 {
  text-align: left;
  color: grey;
  font-weight: 100;
  line-height: 0px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.trip-box-rating {
  display: inline;
  justify-content: space-evenly;
  height: 100px;
  align-items: flex-start;
  text-align: left;
}

.trip-box-rating p {
  text-align: left;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.trip-box-rating svg {
  font-size: 15px;
  color: maroon;
}

.trip-box-price {
  color: maroon;
  text-align: right;
  margin-top: -10px;
}

.trip-item-book {
  /* display: inline-block;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  margin-left: 90px;
  border-radius: 20px; */
  text-transform: capitalize;
}

.trip-item-book:hover {
  background-color: rgb(202, 202, 202);
}

@media only screen and (max-width: 1300px) {
  .item-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .trip-item{
  grid-template-columns: 1rf;
  }
}