@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
} */

body {
  font-size: 15px;
  text-align: center;
}

/* .home,
.trip-box,
.about,
.contact,
.footer {
  border: 1px solid black;
} */

